@import "../node_modules/bootstrap/scss/bootstrap";

.form-check-input:checked {
  background-color: $warning;
  border-color: $warning;
}

.form-check-input:focus {
  border-color: $danger;
  box-shadow: 0 0 0 0.25rem $danger;
}
